.cards {
  margin: 45px 15.625% 0;
  width: calc(100% - 31.25%);
  display: grid;
  grid-template-columns: repeat(3, 282px);
  gap: 17px 20px;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .cards {
    margin: 36px 5.9375% 0;
    width: calc(100% - 11.875%);
    grid-template-columns: 1fr;
    gap: 20px;
  }
}