.cards {
  margin: 45px 15.625% 0;
  width: calc(100% - 31.25%);
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 282px));
  gap: 17px 20px;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .cards {
    margin: 45px auto 0;
    width: calc(100% - 11.875%);
    grid-template-columns: repeat(3, minmax(1fr, 282px));
    gap: 20px;
  }
}

@media screen and (max-width: 944px) {
  .cards {
    grid-template-columns: repeat(2, minmax(min-content, 282px));
  }
}

@media screen and (max-width: 659px) {
  .cards {
    margin: 36px 5.9375% 0;
    grid-template-columns: minmax(min-content, 282px);
  }
}