@import url(__add-btn/profile__add-btn.css);
@import url(__avatar/profile__avatar.css);
@import url(__career/profile__career.css);
@import url(__content/profile__content.css);
@import url(__edit-btn/profile__edit-btn.css);
@import url(__info/profile__info.css);
@import url(__name/profile__name.css);

.profile {
  margin: 40px 15.625% 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .profile {
    margin: 42px auto 0;
    flex-direction: column;
    align-items: center;
  }
}