.card__trash {
  width: 18px;
  height: 19.3px;
  background-image: url(../../../images/trash.svg);
  background-size: contain;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  padding: 0;
}