.profile__name {
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1280px) {

  .profile__name{
    font-size: 3.28125vw;
  }
}

@media screen and (max-width: 1023px) {
  .profile__name {
    font-size: 22px;
    line-height: 27px;
    text-align: center;
  }
}