.profile__edit-btn {
  margin: 0 0 0 10px;
  height: 24px;
  width: 24px;
  align-self: center;
  background-color: #000;
  background-image: url(../../../images/edit-button.svg);
  background-size: contain;
  border: none;
}

@media screen and (max-width: 655px ) {
  .profile__edit-btn {
    height: 18px;
    width: 18px;
  }
}