.modal__body {
  position: relative;
  margin: 14px auto 0;
  min-width: 430px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
}

@media screen and (max-width: 659px) {
  .modal__body {
    margin: 14px 5.9375% 0;
    min-width: 282px;
    max-width: 430px;
    align-self: center;
  }
}