.profile__info {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

@media screen and (max-width: 1023px) {
  .profile__info {
    margin: 30px auto 0;
    justify-content: center;
  }
}