.card__like {
  width: 21px;
  height: 19px;
  opacity: 1;
  transition: linear 0.2s opacity;
  background-image: url(../../../images/like.svg);
  padding: 0;
  background-color: transparent;
  border: none;
}

.card__like:hover {
  opacity: 0.5;
  cursor: url(../../../images/hover.png), pointer;
}