.profile__career {
  margin: 16px 0 0;
  width: 100%;
  font-size: 18px;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}

@media screen and (max-width: 1023px) {
  .profile__career {
    margin: 14px 0 0;
    font-size: 14px;
    text-align: center;
  }
}