.card__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.1;
  color: #000;
  max-width: 222px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .card__title {

  }
}