.profile__avatar-overlay {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 30px 0 0;
}

@media screen and (max-width: 1023px) {
  .profile__avatar-overlay {
    margin: 0 auto;
  }
}

.profile__avatar-overlay:hover {
  background-image: url(../../../images/pen.svg);
  background-repeat: no-repeat;
  background-position: center;
}
