@import url(__logo/header__logo.css);

.header {
  margin: 45px 15.625% 0;
  padding-bottom: 41px;
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1023px) {
  .header {
    margin: 28px 0 0;
    padding-bottom: 32px;
  }
}